@charset "UTF-8";

header div#topo {
    display: flex;
}

header nav {
    padding: 10px;
    justify-content: center;
    display: flex;
}
header li {
    padding: 10px;
}

header li a {
    padding: 5px;
}