button#btn-mobile {
    display: block;
    position: absolute;
    right: 10px;
}

#header {
    width: 100vw;
}

header a {
    border-radius: 0px;
}

header #logo {
    height: 130px;
    width: 130px;
}

#menu {
    display: block;
    width: 100%;
    background-color: #e7e7e7;
    height: 0px;
    transition: .6s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active li {
    background-color: #e7e7e7;
    display: block;
    height: auto;
    width: 100vw;
    height: auto;
}

#nav.active #menu {
    position: absolute;
    gap: 5px;   
    overflow-y: scroll;
    visibility: visible;
    height: 100vh;
    top: 100px; 
    width: calc(100vw - 130px);    
}

#menu a {
    padding: 1rem 0;
    display: block;
}

#btn-mobile {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    top: 50px;
}

#btn-mobile:hover {
    transform: scale(1.5);
}

#hamburguer {
    width: 20px;
    border-top: 2px solid;
    display: block;  
}

#hamburguer::after, #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav.active #hamburguer {
    border-top-color: transparent;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
}

#next, #voltar {
    top: 30%;
}
.image img {
    width: 100vw;
    height: 300px;  
}

.slide {
    width: 100vw;
    height: 300px;
}

.slides{
    width: 100vw;
}

.balls {
    width: 100vw;
}

#atual {
    width: 100vw;
}

main #containercontato {
    grid-template-columns: 1fr;
    background-color: white;
}

.footer.footer .container {
    display: grid;
    grid-template-columns: 1fr;
    contain: content;
}

