@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    background: rgb(4,21,36);
    
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#header {
    box-sizing: border-box;
    height: 130px;
    display: flex;
    justify-content: space-between;
    background: #e7e7e7;
}

header #logo {
    height: 130px;
    width: 130px;
    display: flex;
}

header #btn-mobile {
    display: none;
}

nav{
    height: 100%;
    width: 100%;
    padding: 0;
    text-align: center; 
}

nav ul{
    margin: 0px;
    list-style: none;
    gap: .5rem;
    background: #343435;
    width: 100%;
    margin-top: 10px;
    height: 100%;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
} 

header a {
    height: 100%;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    transition: all 0.3s ease 0s;
}

header a:hover {
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #0088a9;
}

.text{
    padding: 20px 8%;
}

.slide{
    width: 1024px;
    height: 576px;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.4s;
}

.slides{
    width: 100vw;
    /* width: 5120px; */
    display: flex;
}

.image img {
    width: 1024px;
    height: 576px;  
}

#atual{
    transition: all 2s;
}

.btn{
    position: absolute;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 1.7em;
    margin-top: -5px;
}

.btn:hover{
    transform: scale(1.5);
}

#voltar{
    top: 50%;
    left: 3%;
}

#next{
    top: 50%;
    right: 50%;
}

.balls{
    position: absolute;
    width: 1024px;
    display: flex;
    justify-content: center;
    margin-top: -45px;
}

.balls div{
    transition: all 0.5s;
    border: 3px solid #fff;
    padding: 6px;
    border-radius: 50%;
    margin-right:15px;
    cursor: pointer;
}

.balls div:hover{
    background: #fff;
}

.imgAtual{
    transition: all 0.5s;
    background: #fff;
}

.banner{
    background: url(img/Neabi.png);
    width: 100%;
    height: 50vh;
}

.footer.footer{
    background: #343435;
    position: relative;
}


.fale-conosco a{
    text-decoration: none;
}

.contato{
    margin-left: 45px;
}

.footer.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.footer.footer .container > div{
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem 0.9rem;
}

.footer h2{
    color:#f7f7f7;
}

.footer p{
    font-size: 15px;
    color: hsl(262, 20%, 89%);
}

.footer .sobre-nos{
    margin-left: 30px;
}

.rede-sociais{
    color: #fff;
    align-items: center;
}

.rede-sociais .fa-facebook-f{
    height: 0px;
    width: 17px;
    font-size: 20px;
    line-height: 40px;
    margin: 0px 2px 0;
    color: hsl(224, 100%, 56%);
    cursor: pointer;
    transition: 0.5s;
}

.rede-sociais .fa-facebook-f:hover{
    color: #fff;
    transform: translateY(-9);
}

.rede-sociais .fa-twitter{
    height: 0px;
    width: 17px;
    font-size: 20px;
    line-height: 40px;
    margin: 0px 2px 0;
    color: hsl(197, 70%, 47%);
    cursor: pointer;
    transition: 0.5s;
}

.rede-sociais .fa-twitter:hover{
    color: #fff;
    transform: translateY(-9);
}

.rede-sociais .fa-instagram{
    height: 0px;
    width: 17px;
    font-size: 20px;
    line-height: 40px;
    margin: 0px 2px 0;
    color: hsl(313, 83%, 60%);
    cursor: pointer;
    transition: 0.5s;
}

.rede-sociais .fa-instagram:hover{
    color: #fff;
    transform: translateY(-9);
}

.rede-sociais .fa-whatsapp{
    height: 0px;
    width: 17px;
    font-size: 20px;
    line-height: 40px;
    margin: 0px 2px 0;
    color: hsl(125, 87%, 54%);
    cursor: pointer;
    transition: 0.5s;
}

.rede-sociais .fa-whatsapp:hover{
    color: #fff;
    transform: translateY(-9);
}


.texto-copy{
    color: hsl(128, 86%, 53%);
    text-align: center;
}


